*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #000fff;
}

input,
button,
submit {
  border: none;
}
