.btn {
  padding: 20px 50px;
  border-radius: 5px;
}

.blue {
  background-color: blue;
}

.white {
  background-color: #fff;
}

.left {
  float: left;
  width: 50%;
}

.right {
  width: 50%;
  float: right;
}
