.header-section {
  width: 99vw;
  height: 100vh;
  background: url("../../img/header-background.jpg");
  background-size: cover;
}

.header-section > nav {
  text-align: center;
  padding-top: 15px;
  position: sticky;
}

.header-section > nav > .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  max-width: 670px;
  margin: 0 auto;
}

.header-section > nav > .nav > .item a {
  color: #f2f2f2;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.1s linear;
  word-spacing: 3px;
}

.header-section > nav > .nav > .item a:hover {
  color: var(--color-grow);
}

.header-section > .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-section > .content > .name {
  font-weight: 300;
  font-size: 80px;
  text-transform: uppercase;
}

.header-section > .content > .description {
  font-weight: 30;
  font-size: 18px;
  color: #a8a8a8;
}

.header-section > .content > .social {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
  margin: 0 auto;
  margin-top: 50px;
}

.header-section > .content > .social::before {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 280px;
  height: 1px;
  background-color: #a8a8a82d;
}

.header-section > .content > .social > .item {
  cursor: pointer;
}
